<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="src/functional.php"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    strict="true"
    verbose="true"
    colors="true">
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">tests/</directory>
            <directory suffix=".php">vendor/</directory>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="unit-tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
